- content_for(:title, "#{@recipe.cuisine_name} | CookCost 〜材料費計算アプリ〜")

.container.col-sm-12.px-2
  div align='center'
    = render 'recipes/partial/cost_table'
    -if logged_in?
      div id="bookmark_button_#{@recipe.id}" class='bookmark'
        = render "bookmarks/bookmark", recipe: @recipe
    = render 'recipes/partial/show_btn'

  = render 'recipes/partial/nutrient_table'
  canvas.mt-3#myChart style='height: 350px; max-width: 500px;'

  .kakomi-tape
    span.title-tape = '引用元'
    h3.cuisine_name = @recipe.cuisine_name
    =link_to "#{@recipe.recipe_url}", @recipe.recipe_url, id: 'recipe_url'
    p.text-end.mb-2 = "by#{@recipe.originator}"

  .annotation.kakomi-tape
    span.title-tape = '注意'
    p ・品名に記号やアルファベットが入っているものは、<br>　うまく取得できない場合があります。
    p ・適量やお好みなど使用量がはっきりしないものは<br>　計算できません。
    p ・使用量に単位がないものは計算できません。
    p ・登録がない食品は、順次登録致します。
    p ・栄養素はあくまで例です。<br>　調理方法等によって大幅に異なります。

javascript:
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: ["カロリー", "炭水化物", "タンパク質", "脂質", "食物繊維", "塩分摂取量"],
      datasets:
      [
        {
          label: "#{@nutrient.how_many}(%)",
          backgroundColor: 'rgba(102,255,129,0.25)',
          borderColor: 'rgba(122,255,129,0.25)',
          data: [#{@nutrient.calorie_ratio}, #{@nutrient.carbohydrate_ratio}, #{@nutrient.protein_ratio}, #{@nutrient.lipid_ratio}, #{@nutrient.dietary_fiber_ratio}, #{@nutrient.salt_equivalent_ratio}]
        },
        {
          label: "40歳女性の１食に必要な栄養(目安)",
          backgroundColor: 'rgba(240,117,218,0.07)',
          borderColor: 'rgba(240,117,218,0.07)',
          data: [100, 100, 100, 100, 100, 100]
        }
      ]
    },
    options: {
      scale: {
        ticks: {
          min: 0,
          max: 150,
          stepSize: 50
        }
      }
    }
  });