/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "reset";
 @import "bootstrap";
 @import "header";
 @import "footer";
 @import "recipes";
 @import "pages";
 @import "categories";
 @import "users";
 @import "pagination";


body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  h1 {
    margin: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: default;
}

.container {
  max-width: 500px;
}

h1 {
  color: #FFB800;
}

h5 {
  color: #ffbb00;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn {
  border-radius: 8px;
  text-align: center;
}

a:hover {
  color: gray;
}

.twitter {
  background: #80dfda;
  display: inline;
}

.font-size-3vw {
  font-size: 3vw;
}