.link-btn {
  position: absolute;
	font-size: clamp(7px, 2.3vw, 13px);
  bottom: 0px;
  right: 10px
}

.category-btn {
	border: 4px solid;
	border-color: white;
	border-radius: 3px;
	font-size: clamp(7px, 3.5vw, 15px);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 10px 0px;
}

.rakuten-recipe {
	width: 100%;
	display: inline-flex;
  flex-direction: column;
  align-items: center;
}

ul {
	padding: 0px 13px;
}

.card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}