// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.layer{
  display: flex;
  flex-flow: column;
  p{
    font-size: 0.8rem;
  }
}

/* 吹き出し本体 */
.balloon{
  position: relative;
  background-color: gainsboro;
  width: 240px;
  border-radius: 30px;
}
/* 大きい丸 */
.balloon::before{
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: gainsboro;
  right: -15px;
  bottom: 17px;
  width: 10px;
  height: 10px;
}
/* 小さい丸 */
.balloon::after{
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: gainsboro;
  right: -25px;
  bottom: 20px;
  width: 5px;
  height: 5px;
}

.layer-bg{
  background: url(Women_in_distress.png) no-repeat 0 0;
  background-size: contain;
  background-position: right -50px top 10px;
}

td {
  line-height: 70%;
  font-size: 4vw;
}

td span{
  font-size: 2vw;
}

.kakomi-tape {
  position:relative;
  padding: 25px 20px 10px;
  margin: 0.5em auto;
  margin-top: 1.5em;
  width: 90%;
  color: #555555;
  background-color: #ffffbe;
  box-shadow: 0 2px 5px #999;
 }

.title-tape {
  position: absolute;
  top: -15px;
  left: 30px;
  padding: 4px 20px;
  color: #555555;
  font-weight: bold;
  background-color: rgba(255,255,255,.1);
  border-left: 2px dotted rgba(0,0,0,.1);
  border-right: 2px dotted rgba(0,0,0,.1);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transform: rotate(-3deg);
 }

form {
   margin: 0px 10px 0px 10px;
 }

.url {
   width: 90%;
 }

.url-btn {
  background-color: #FFB800;
  width: 10%;
  border-color: #FFB800;
 }

.icon {
  color: white;
 }

.width-100 {
   width: 100%;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clear-both {
  clear:  both;
}

table {
  border:1px solid;
}

.btn {
  background-color: #FFB800;
  padding: 0.2rem 0.6rem;
  color: white
}

.container{
  padding: 0px;
}

th {
  font-size: 4vw;
}

#recipe_url {
  font-size: 3.7vw;
}

h3 {
  white-space: nowrap;
}
