// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.layer {
  display: flex;
  flex-flow: column;
  p {
    font-size: 0.8rem;
  }
}

/* 吹き出し本体 */
.balloon {
  position: relative;
  background-color: gainsboro;
  width: 240px;
  border-radius: 30px;
}
/* 大きい丸 */
.balloon::before {
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: gainsboro;
  right: -15px;
  bottom: 17px;
  width: 10px;
  height: 10px;
}
/* 小さい丸 */
.balloon::after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: gainsboro;
  right: -25px;
  bottom: 20px;
  width: 5px;
  height: 5px;
}

/* 吹き出し本体 - 普通の吹き出し */
.balloon2 {
  position: relative;
  margin: 10px;
  padding-left: 10px;
  background-color: #ffee8d;
  border-radius: 10px;         /* 角丸を指定 */
  white-space: nowrap;
  margin:0 auto
}

.how-to-one {
  width: 260px;
  margin-top: 20px;
}

/* 三角アイコン - 普通の吹き出し */
.how-to-one::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 40%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #ffee8d;
}

.how-to-two {
  width: 230px;
  margin-top: 55px;
}

.how-to-two::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 70%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #ffee8d;
}

.how-to-three {
  width: 180px;
  margin-top: 75px;
  left: -50px;
}

.layer-about {
  background: url(Women_in_distress.png) no-repeat 0 0;
  background-size: contain;
  background-position: right -50px top 10px;
}

.layer-how-to {
  background: url(how_to.png) no-repeat 0 0;
  background-size: contain;
  background-position-x: center;
  background-position: top 100px;
  height: 300px;
  text-align: center;
}

td {
  line-height: 70%;
  font-size: clamp(2px, 4vw, 25px);
}

td span {
  font-size: clamp(2px, 2vw, 15px);
}

.kakomi-tape {
  position:relative;
  padding: 25px 20px 10px;
  margin: 0.5em auto;
  margin-top: 1.5em;
  width: 90%;
  color: #555555;
  background-color: #ffffbe;
  box-shadow: 0 2px 5px #999;
 }

.title-tape {
  position: absolute;
  top: -15px;
  left: 30px;
  padding: 4px 20px;
  color: #555555;
  font-weight: bold;
  background-color: rgba(255,255,255,.1);
  border-left: 2px dotted rgba(0,0,0,.1);
  border-right: 2px dotted rgba(0,0,0,.1);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transform: rotate(-3deg);
 }

form {
   margin: 0px 10px 0px 10px;
 }

.url {
   width: 85%;
   height: 50px;
 }

.url-btn {
  background-color: #FFB800;
  width: 15%;
  height: 50px;
  border-color: #FFB800;
 }

.icon {
  color: white;
}

.top-btn-icon {
  margin: 5px 0px 0px 5px;
}

.width-80 {
   width: 90%;
}

.width-100 {
  width: 100%;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clear-both {
  clear:  both;
}

table {
  border:1px solid;
}

.btn {
  background-color: #FFB800;
  padding: 0.2rem 0.6rem;
  color: white
}

.btn-rakuten {
  width: 300px;
}

.text-gray{
  color: gray;
}

.container{
  padding: 0px;
}

th {
  font-size: 4vw;
}

#recipe_url {
  font-size: clamp(3px, 3.3vw, 19px);
}

.annotation{
  background-color: #ffd1d1;
  padding: 25px 10px 3px;
  .title-tape{
    color: red;
  }
  p {
    padding: 5px 0px;
    font-size: 3.3vw;
  }
}

.bookmark {
  float: right;
  margin-right: 6%;
  margin-top: 2px;
  font-size: 140%;
  color: #ffc400;
}

/* リンクカード */
.pb-btn{
  margin: 10px auto;
  width: 90%;
  position:relative;
}

.pb-btn a{
  display:block;
  color:#333 !important;
  border:2px solid #91c13e;
  font-weight:600;
  position:relative;
  transition:all 0.2s;
  text-decoration:none;
  padding: 1.3em 1.3em 1.2em;
  font-size:14px !important;
  background:#F2F8E8;
}

.pb-btn .pb-btn_text{
  max-width: 90%;
  display: block;
  line-height:1.8;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pb-btn a:after{
  position: absolute;
  content: "";
  display: inline-block;
  right: 7%;
  top: 50%;
  width: 9px;
  height: 9px;
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
  border-top: 3px solid #91c13e;
  border-right: 3px solid #91c13e;
}

.margin-left-12 {
  margin-left: 12%;
}

.cuisine_name{
  font-size: clamp(3px, 5vw, 20px);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

table {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  border-spacing: 0;
  border-collapse: collapse;
}

table > caption {
  padding-top: 8px;
  padding-right: 13px;
  padding-bottom: 8px;
  padding-left: 13px;
}

table > caption[data-position="top"] {
  caption-side: top;
}

table > caption[data-position="bottom"] {
  caption-side: bottom;
}

table > caption:before {
  content: attr(data-prefix);
  font-size: 0.75rem;
  font-weight: 700;
}

thead {
  border: 1px solid #95a5a6;
}

tbody {
  border-right: 1px solid #95a5a6;
  border-bottom: 1px solid #95a5a6;
  border-left: 1px solid #95a5a6;
}

tr {
  border-bottom: 1px solid #ecf0f1;
}

tr:last-child {
  border-bottom: none;
}

th {
  padding-top: 8px;
  padding-right: 13px;
  padding-bottom: 8px;
  padding-left: 13px;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 2.333333333;
  text-align: left;
  color: #95a5a6;
  background-color: #ecf0f1;
}

td {
  padding-top: 8px;
  padding-right: 13px;
  padding-bottom: 8px;
  padding-left: 13px;
  font-weight: 400;
  text-align: left;
  color: #7f8c8d;
}

.table-no-border,
.table-no-border * {
  border: none;
  background-color: transparent;
}

.table-striped tr:nth-of-type(even) {
  background: #ecf0f1;
}

.table-hover tbody tr:hover {
  background-color: #ecf0f1;
}

.table-responsive {
  max-width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  overflow-x: auto;
  overflow-y: hidden;
}

.table-responsive table {
  margin: 0;
  border: none;
}

@media (max-width: 767px) {

  .table-responsive {
    border: 1px solid #95a5a6;
  }

  .table-responsive caption,
  .table-responsive caption[data-position="top"] {
    border-bottom: 1px solid #95a5a6;
    background-color: #ecf0f1;
  }

  .table-responsive caption[data-position="bottom"] {
    border-top: 1px solid #95a5a6;
    background-color: #ecf0f1;
  }

  .table-striped caption {
    background-color: transparent;
  }

  .table-responsive thead {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #95a5a6;
    border-left: none;
  }

  .table-responsive tbody {
    border: none;
  }

  .table-responsive .table-no-border thead,
  .table-responsive .table-no-border tbody {
    border: none;
  }

}

.table-responsive::-webkit-scrollbar {
  height: 8px;
  width: 55%;
}

.table-responsive::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #ecf0f1;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #bdc3c7;
}
